html, body {
    height: 100%;
    margin: 0;

}
.container {
    background-image: url("mohammad-rahmani-N5bT5RctFZ8-unsplash.jpg");
    width: 100%;
    height: 100%;
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    /* border: 5px solid red; */
}

.overlay {
position: fixed;
    /* Position the overlay over the entire page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 1, 25, 0.639);
    /* transition: background-color 1.5s ease-in-out; */
    animation: fade-in 3s ease-in forwards;
    z-index: 9999;
 
}
@keyframes fade-in {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.568);
    }
}

.about {
    color:rgb(242, 121, 59);
    font-size: x-large;
    /* font-weight:900; */
}

.fade-text {
     /* rgb(242, 121, 59) ==> this is the orange color i'm going for */
     /* opacity: 1; */
     color: rgb(242, 121, 59);
     /* transition: opacity 1.5s ease-in-out; */
     animation: fade-text 2s ease-in forwards;
     /* Start with an opacity of 0 to make the text invisible */
 }

 @keyframes fade-text {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 @font-face {
     font-family: SourceCodePro;
     src: url(SourceCodePro-MediumIt.otf) format('truetype');
 }
 /* typing effect */
 .typing  {
    padding: 5em;
    color: #fff;
    font-family: SourceCodePro;
    font-size: 3vw;
    overflow: hidden;
    color: rgb(242, 121, 59);
     /* Ensures the content is not revealed until the animation */
     /* border-right: .15em solid orange; */
     /* The typwriter cursor */
     white-space: nowrap;
     /* Keeps the content on a single line */
     /* margin: 0 auto; */
     /* Gives that scrolling effect as the typing happens */
     /* letter-spacing: 10px; */
     /* Adjust as needed */
     animation:
         typing 3.5s steps(600, end),
         blink-caret .10s step-end ;
 }

 /* The typing effect */
 @keyframes typing {
     from {
         width: 0
     }

     to {
         width: 100%;
     }
 }

