/* look into typed.js */
nav {
    background-color: rgba(2, 3, 22, 0.751);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-family: SourceCodePro;
    left: 0;
    right: 0;
    /* margin-right: auto; */
    /* top: 0; */
    /* margin-left: 35%; */
    /* /* height: 3em; */
}

nav ul {
    
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
   /* justify-content: center; */
    /* text-align: center; */
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    transition: background-color .4s ease-in-out;
    transition: color 0.6s ease-in-out;
}

nav ul li a:hover {
    background-color: rgba(94, 15, 185, 0.208);
    color: rgb(235, 119, 18);
    /* Darker background color on hover */
}

html, body {
    height: auto;
    margin: 0;

}
body {
    overflow-x: hidden;
    background-image: url("mohammad-rahmani-N5bT5RctFZ8-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: between;
    
    /* overflow-y: hidden; */
    /* scrollbar-width: none; */
        /* Hide vertical scrollbar */
    /* overflow: hidden; */
    /* padding: 0 5rem; */
    /* background-color: rgba(48, 158, 14, 0.957); */
    animation: fade-in 3s ease-in forwards;
    top: 0;
    left: 0;
}
body::-webkit-scrollbar {
    display: none;
}

.container {
    z-index: 9999;
    animation: fade-in 2s ease-in forwards;
            margin: 0;
            height: auto;
            min-height: 100vh;
            width: 100%;
            /* transition: background-color 1.5s ease-in-out; */
            
        }
        /* background-image: url("mohammad-rahmani-N5bT5RctFZ8-unsplash.jpg"); */
        /* width: 100%;
        height: 100%;
        /* background-size: 100%; */
        /* overflow: hidden; */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed, scroll; */ */
        /* background-attachment: fixed; */
        /* margin-bottom: 2000px; */
        /* z-index: 1000; */
        /* border: 5px solid red; */
        
        .overlay {
            /* position: fixed; */
            /* Position the overlay over the entire page */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(7, 3, 30, 0);
            /* transition: background-color 1.5s ease-in-out; */
    z-index: 9999;
    /* backdrop-filter: blur(4px); */
 
}
@keyframes fade-in {
    from {
        background-color: rgba(0, 0, 0, 0),
        
    }

    to {
        background-color: rgba(1, 4, 21, 0.701);
    }
}



.about {
    color:rgb(242, 121, 59);
    /* font-size: x-large; */
    /* font-weight:900; */
}

.fade-text {
    animation: fade-text 2s ease-in forwards;
    transition: opacity 1.5s ease-in-out;
    /* word-wrap: break-word; */
    /* display: block; */
    /* color: rgb(242, 121, 59); */
    /* rgb(242, 121, 59) ==> this is the orange color i'm going for */
    /* opacity: 1; */
    /* text-align: center; */
     /* Start with an opacity of 0 to make the text invisible */
 }

 @keyframes fade-text {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 @font-face {
     font-family: SourceCodePro;
     src: url(SourceCodePro-MediumIt.otf) format('truetype');
 }
 /* typing effect */
 .typing  {
    padding: 1em;
    padding-top: 3em;
    color: #fff;
    font-family: SourceCodePro;
    font-size: 3em;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    /* justify-content: center; */
    

 }

 .type {
    color: rgb(235, 119, 18);
    background-color: rgba(48, 63, 146, 0.192);
    padding: .25em;
    border-radius: 50px;
 }


 /* ----------------Skills Page ///////////////*/


 .skill-container {
    display: flex;
    justify-content: center;
 }

 .skills{
        width: 8em;
        height: 8em;
        background-color: #1f2937;
        /* font-size: small; */
        padding: 3em;
        margin: 2em;
        /* Dark navy */
        margin-right: 20px;
        border-radius: 20px;
        transition: all .2s ease-in-out;
 }

.bullets {
    list-style-type: none;
    color: rgb(235, 119, 18);
}


 .skills:hover {
     transform: scale(1.1);
 }

 /* the notecard change */
        .notecard-container {
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
            margin: 0;
            font-size: 2vw;
        }
    
        .notecard {
            width: 10em;
            height: 10em;
            perspective: 1000px;
            margin: 10px;
            transition: transform 0.4s;
            padding: 2em;
        }
        
        .notecard:hover {
            transform: translateY(-20px);
        }
        
        .notecard-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 1s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            }
                        
        .notecard:hover .notecard-inner {
            transform: rotateY(180deg) scale(1);
        }
                        
        .notecard-front,
        .notecard-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
        }
        .notecard-front {
            /* background-color: #FFD700; */
            background-color: #1f2937;
                            
            /* color: #fffbfb; */
            color: rgb(235, 119, 18);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
    
        .notecard-back {
            /* display: flex; */
            background-color: rgb(3, 37, 50);
            font-size: medium;
            color: #FFF;
            transform: rotateY(180deg);
            /* flex-direction: column; */
            justify-content: left;
            /* align-items: center; */
            padding: 20px;
        }

            .notecard h2 {
                margin-top: 0;
                margin-bottom: 10px;
            }
            
            .notecard p {
                margin: 0;
            }
            
            .notecard:hover {
                cursor: -webkit-grab;
            }
            
            .notecard-inner {
                transform-origin: center;
            }

            .partyGageProfile {
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .socials {
                justify-content: center;
                display: flex;
                align-items: center;
            }

            .instagram{
                transition: transform 0.3s ease-in-out;
                padding: 3em;
            }
            .instagram:hover {
                transform: scale(1.3);
            }

            .linkedin{
                transition: transform 0.3s ease-in-out;
            }
            .linkedin:hover {
                transform: scale(1.3);
            }

            .github {
                transition: transform 0.3s ease-in-out;
                padding: 3em;
            }

            .github:hover {
                transform: scale(1.3);
            }
